<% include ../../header %>
  <div class='content' id='products-index'>
    <h1>
      <%= title %>
      <a href='/admin' class='parent-link'>« Voltar ao painel</a>
      <div class='search-crud-input'>
        <form action='/admin/products/' method='get'>
          <input type='search' name='search' placeholder='Buscar produto' />
        </form>
        <i class='fa fa-search'></i>
      </div>
      <a class='crud-button crud-new' href='/admin/products/new'>
        <i class='fa fa-plus-square'></i> Adicionar novo
      </a>
    </h1>
    <% if (query) { %>
      <h2>Busca por "<%= query %>"</h2>
    <% } %>
    <% if (products.length > 0) { %>
      <table class='crud-table'>
        <tr>
          <th>Informações dos produtos</th>
          <th></th>
          <th></th>
        </tr>
        <% products.forEach(function(product){ %>
          <tr class="crud-row">
            <td class='crud-info'>
              <img class='product-photo' src="<%= product.photo_url.length>0 ? product.photo_url : '/images/default-product.png' %>" />
              <div class='product-name'>
                <span><%= product.name %></span>
              </div>
            </td>
            <td class='crud-action'>
              <a href='/admin/products/edit/<%= product.id %>'><i class='fa fa-edit'></i> Editar</a>
            </td>
            <td class='crud-action'>
              <a href='/admin/products/delete/<%= product.id %>'><i class='fa fa-trash'></i> Remover</a>
            </td>
          </tr>
        <% }) %>
      </table>
    <% } else { %>
      Nenhum produto encontrado.
    <% } %>
  </div>
<% include ../../footer %>