<% include ../../header %>
  <div class='content crud-form' id='users-form'>
    <h1>
      <%= title %>
      <% if (user.login) { %>
        <a class='crud-button crud-index' href='/admin/users/<%= user.id %>'>
          <i class='fa fa-eye'></i> Ver detalhes do usuário
        </a>
      <% } %>
      <a class='crud-button crud-index' href='/admin/users'>
        <i class='fa fa-users'></i> Ver todos os usuários
      </a>
    </h1>
    <form action="/admin/users/<%= action %>" method="POST" enctype="multipart/form-data">
      <label for="login">
        Login:
        <input type="text" id="login" name="login" value="<%= user.login %>" maxlength="16" required <%= action.includes('update') ? 'disabled' : '' %>/>
      </label>
      <label for="password">
        Senha:
        <input type="password" id="password" name="password" value="<%= user.password %>" maxlength="20" required/>
      </label>
      <label for="name">
        Nome:
        <input type="text" id="name" name="name" value="<%= user.name %>" maxlength="50" required/>
      </label>
      <label for="email">
        E-mail:
        <input type="email" id="email" name="email" value="<%= user.email %>" maxlength="50" required/>
      </label>
      <label for="birthdate">
        Data de nascimento:
        <input type="date" id="birthdate" name="birthdate" value="<%= user.birthdate %>" max="<%= new Date().toJSON().slice(0,10) %>" required />
      </label>
      <label for="phone">
        Telefone:
        <input type="tel" id="phone" name="phone" value="<%= user.phone %>" maxlength="15" required />
      </label>
      <label for="type">
        Tipo:
        <select id='type' name='type'>
          <option value="CLI" <%= user.type == 'CLI' ? 'selected' : '' %>>Cliente</option>
          <option value="ADM" <%= user.type == 'ADM' ? 'selected' : '' %>>Administrador</option>
        </select>
      </label>
      Foto:
      <div id="photo-container">
        <div id="photo-button" class="<%= user.photo_url ? 'active' :'' %>">
          <img class='user-photo' src="<%= user.photo_url || '/images/default-user.png' %>" />
          <div class='photo-overlay'><div class="remove-photo-text"><i class='fa fa-trash'></i> remover</div></div>
        </div> 
        <label for="photo">
          <input type="file" id="photo" name="photo" accept="image/*" />
        </label>
      </div>
      
      <input type="hidden" id="photo_url" name="photo_url" value="<%= user.photo_url %>" />
      <input type="hidden" id="login_alt" name="login_alt" value="<%= user.login %>" />
      <input type="submit" value="Salvar" />
    </form>
  </div>
<% include ../../footer %>