<% include ../../header %>
  <div class='content' id='users-index'>
    <h1>
      <a href='/admin/users' class='title-link'><%= title %></a>
      <a href='/admin' class='parent-link'>« Voltar ao painel</a>
      <div class='search-crud-input'>
        <form action='/admin/users/' method='get'>
          <input type='search' name='search' placeholder='Buscar usuário' />
        </form>
        <i class='fa fa-search'></i>
      </div>
      <a class='crud-button crud-new' href='/admin/users/new'>
        <i class='fa fa-user-plus'></i> Adicionar novo
      </a>
    </h1>
    <% if (query) { %>
      <div class="search-results-head">
        <div>Resultado da busca por '<%= query %>'</div>
        <% if (users.length > 0) { %>
          <% const plural = users.length > 1 ? 's' : ''; %>
          <div><%= users.length %> usuário<%= plural %> encontrado<%= plural %></div>
        <% } %>
      </div>
    <% } %>
    <% if (users.length > 0) { %>
      <table class='crud-table'>
        <tr>
          <th class='crud-id'>#</th>
          <th>Detalhes dos usuários</th>
          <th></th>
          <th></th>
        </tr>
        <% users.forEach(function(user){ %>
          <tr class="crud-row">
            <td class='crud-id'><%= user.id %></td>
            <td class='crud-info'>
              <img class='user-photo' src="<%= user.photo_url.length>0 ? user.photo_url : '/images/default-user.png' %>" />
              <div class='user-name'>
                <span><%= user.name %></span>
                <span><%= user.login %></span>
              </div>
              <div class="user-email">E-mail: <%= user.email %></div>
              <div class="user-birthdate">Data de nascimento: <%= user.birthdate %></div>
              <div class="user-phone">Telefone: <%= user.phone %></div>
            </td>
            <td class='crud-action'>
              <a href='/admin/users/edit/<%= user.id %>'><i class='fa fa-edit'></i> Editar</a>
            </td>
            <td class='crud-action'>
              <a href='/admin/users/delete/<%= user.id %>' onclick="return confirm('Esta ação removerá o usuário permanentemente. Deseja continuar?');"><i class='fa fa-trash'></i> Remover</a>
            </td>
          </tr>
        <% }) %>
      </table>
    <% } else { %>
      Nenhum usuário encontrado.
    <% } %>
  </div>
<% include ../../footer %>